<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>358</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.17793240556660039</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>179</real>
			<real>0.0</real>
			<real>-0.17857142857142858</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	FBYU1C5oNhnNeMux+yRDoQ==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwTFx5VJG51bGzTDQ4PEBES
	XE5TUmFuZ2VDb3VudFYkY2xhc3NbTlNSYW5nZURhdGEQxoAEgALSFA4VFldOUy5kYXRh
	TxECOAUCCwEPARYBGAkjASsDLwI2AjoBPAE+AUEERgNKAk0DUQFTAVUBWAFbB2kCbQFw
	AXMCfgGAAQGDAQGFAQKIAQGKAQGSAQGYAQGcAQGiAQKmAQGvAQGxAQG2AQG4AQG7AQPB
	AQHFAQPLAQHPAQHTAQHVAQHZAQLeAQLjAQHsAQP0AQL3AQSAAgKHAgGJAgKMAgKPAgGR
	AgGWAgWcAgOgAgKkAgGnAgKqAgGwAgG0AgG3AgO7AgK+AgHIAgHKAgHMAgHSAgLWAgHd
	AgHnAgHpAgPzAgGCAwGFAwGLAwGSAwGXAwOeAwKhAwKrAwGuAwGwAwG2AwK6AwK/AwHI
	AwHOAwHQAwLUAwTaAwLdAwHfAwHnAwHpAwHsAwH0AwH3AwH6AwGCBAGEBAGIBAGNBAKS
	BAGWBAGbBAGlBAKpBAKyBAG0BAG9BAHFBAHIBAHNBAHUBAHdBAHhBAHmBAHsBAH8BAH/
	BAKDBQGJBQGPBQWZBQGbBQKfBQGwBQTHBQHJBQHLBQLhBQLkBQLqBQL4BQH8BQKQBgGW
	BgKiBgGmBgKvBgO+BgHDBgHFBgHIBgHKBgHMBgHQBgPWBgLZBgPhBgHlBgHtBgH7BgGF
	BwGRBwGUBwGaBwGcBwGnBwKqBwSwBwGzBwG1BwG5BwG+BwHCBwHGBwPLBwLOBwHQBwHV
	BwHZBwHeBwLiBwHnBwHrBwHuBwHwBwH0Bwf9BwH/BwGDCAOICAGVCAGZCAKoCAGqCAG3
	CAHuCAGlCQHdCQGAA9IYGRobWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0
	YaMaHB1WTlNEYXRhWE5TT2JqZWN00hgZHyBfEBFOU011dGFibGVJbmRleFNldKMhIh1f
	EBFOU011dGFibGVJbmRleFNldFpOU0luZGV4U2V0AAgAEQAaACQAKQAyADcASQBMAFEA
	UwBZAF8AZgBzAHoAhgCIAIoAjACRAJkC1QLXAtwC5wLwAv4DAgMJAxIDFwMrAy8DQwAA
	AAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAAAANO
	</data>
</dict>
</plist>
