<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>miracles</string>
	<key>libraryID</key>
	<string>2DC332AC-D05E-4B99-AADB-7CD36924F59D</string>
</dict>
</plist>
