/* =============
    Dash
============= */

#type-container{
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-areas: ". type .";
    //border: 1px solid black;

    >div{
        grid-area: type;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        svg{
            width: 100%;
            border: 1px solid green;
        }
    }
}